<%- include("partials/head") -%>
<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="#">Weather App</a>
  <form class="form-inline" action="/" method="post">
    <input class="form-control mr-sm-2" name="cityName" id="cityName" placeholder="Input City" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>


<section id="Main" class="container-fluid main">


  <div class="left">
    <h4 id="now"></h4>
    <div class="upper">
      <div class="icon">
        <img src="<%= icnUrl %>" alt="icon">
      </div>
      <div class="right-elem">
        <div class="elem_box">
          <p class="heading">Location</p>
          <% if (city==null) { %>
          <p>---</p>
          <% } else { %>
          <p><%= city %></p>
          <% } %>
        </div>
        <div class="elem_box">
          <p class="heading">Description</p>
          <% if (desToday==null) { %>
          <p>---</p>
          <% } else { %>
          <p><%=desToday %></p>
          <% } %>
        </div>
      </div>

    </div>

    <div class="lower">
      <div class="l_box">
        <p class="heading">Temp</p>
        <% if (tempToday==null) { %>
        <p>---</p>
        <% } else { %>
        <p><%= tempToday %> &#8451;</p>
        <% } %>

      </div>
      <div class="l_box">
        <p class="heading">Feels Like</p>
        <% if (fTemp==null) { %>
        <p>---</p>
        <% } else { %>
        <p><%= fTemp %> &#8451;</p>
        <% } %>
      </div>
      <div class="l_box">
        <p class="heading">Humidity</p>
        <% if (humidity==null) { %>
        <p>---</p>
        <% } else { %>
        <p><%= humidity %></p>
        <% } %>
      </div>
    </div>

  </div>


  <div class="right r_post">
    <div class="r_div">
      <h5 id="date"></h5>
      <div class="r_day day1">
        <div class="day_box">
          <p class="heading">Temp</p>
          <% if (temp1==null) { %>
          <p>---</p>
          <% } else { %>
          <p><%= temp1 %> &#8451;</p>
          <% } %>
        </div>
        <div class="day_box m_ele">
          <p class="heading">Feels Like</p>
          <% if (fTemp1==null) { %>
          <p>---</p>
          <% } else { %>
          <p><%= fTemp1 %> &#8451;</p>
          <% } %>
        </div>
        <div class="day_box">
          <p class="heading">Humidity</p>
          <% if (humidity1==null) { %>
          <p>---</p>
          <% } else { %>
          <p><%= humidity1 %></p>
          <% } %>
        </div>
        <div class="icon_box">
          <img src="<%= icnUrl1 %>" alt="icon">
        </div>
      </div>
    </div>

    <div class="r_div">
      <h5 id="date2"></h5>
      <div class="r_day day2">
        <div class="day_box">
          <p class="heading">Temp</p>
          <% if (temp2==null) { %>
          <p>---</p>
          <% } else { %>
          <p><%= temp2 %> &#8451;</p>
          <% } %>
        </div>
        <div class="day_box m_ele">
          <p class="heading">Feels Like</p>
          <% if (fTemp2==null) { %>
          <p>---</p>
          <% } else { %>
          <p><%= fTemp2 %> &#8451;</p>
          <% } %>
        </div>
        <div class="day_box">
          <p class="heading">Humidity</p>
          <% if (humidity2==null) { %>
          <p>---</p>
          <% } else { %>
          <p><%= humidity2 %></p>
          <% } %>
        </div>
        <div class="icon_box">
          <img src="<%= icnUrl2 %>" alt="icon">
        </div>
      </div>
    </div>

    <div class="r_div">
      <h5 id="date3"></h5>
      <div class="r_day day3">
        <div class="day_box">
          <p class="heading">Temp</p>
          <% if (temp3==null) { %>
          <p>---</p>
          <% } else { %>
          <p><%= temp3 %> &#8451;</p>
          <% } %>
        </div>
        <div class="day_box m_ele">
          <p class="heading">Feels Like</p>
          <% if (fTemp3==null) { %>
          <p>---</p>
          <% } else { %>
          <p><%= fTemp3 %> &#8451;</p>
          <% } %>
        </div>
        <div class="day_box">
          <p class="heading">Humidity</p>
          <% if (humidity3==null) { %>
          <p>---</p>
          <% } else { %>
          <p><%= humidity3 %></p>
          <% } %>
        </div>
        <div class="icon_box">
          <img src="<%= icnUrl3 %>" alt="icon">
        </div>
      </div>
    </div>


  </div>
</section>
<%- include("partials/footer") -%>
